body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 700px;
    height: 250px;
    font-size: 26px;
    padding: 8px;
    border: 5px solid #ccc;
    resize: none
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    width: 50%;
    padding: 12px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: #82e0aa ;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
    background-color: #82e0aa
}
